/* Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #002348 0%, #000d35 40%, #00062a 60%, #000522 80%);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  /* .heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .heading {
    color: white;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  } 
   */
  canvas {
    display: inline;
    vertical-align: bottom;
  }
  
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles {
    font-size: 1.1em;
  }
  .heading{
     font-size: 70px;
     position: absolute;
     top: 200px;


  }
  .clg-info-container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;

  }
  .clg-info{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
  }
  
  
  .clglogo{
    width: 6vw;
  }
  .Name{
    text-align: center;
    width: 60vw;
    font-size: 30px;
  }
  .main-char{
    width: 9vw;
  }
  