.button {
    cursor: pointer;
    border: none;
    background: #7808d0;
    color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    display: grid;
    place-content: center;
    transition:
      background 300ms,
      transform 200ms;
    font-weight: 600;
  }
  
  .button__text {
    position: absolute;
    inset: 0;
    animation: text-rotation 8s linear infinite;
  
    > span {
      position: absolute;
      transform: rotate(calc(18deg * var(--index)));
      inset: 7px;
    }
  }
  
  .inner-circle {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #fff;
    color: #7808d0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button__icon--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover {
    background: #000;
    transform: scale(1.05);
  }
  
  .button:hover .button__icon {
    color: #000;
  }
  
  
  @keyframes text-rotation {
    to {
      rotate: 360deg;
    }
  }
  